Repository snippergoals/backstage: changes, and which Codecov flags are due for each by the changed paths.
All: core, core-api

chore: need to run install part of the package creation
  packages/cli/templates/default-plugin/package.json.hbs
  packages/e2e-test/src/commands/run.ts
Due: none

Feat/add aws lambda plugin (#2985)
  microsite/data/plugins/aws-lambda.yaml
Due: none

chore: fixing some more e2e tests by actually polyfill the correct thing
  packages/cli/templates/default-backend-plugin/src/setupTests.ts
  packages/cli/templates/default-plugin/src/components/ExampleComponent/ExampleComponent.test.tsx.hbs
  packages/cli/templates/default-plugin/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx.hbs
  packages/cli/templates/default-plugin/src/setupTests.ts
Due: none

chore(cli): fixing isome more tests
  packages/core-api/package.json
  packages/core-api/src/setupTests.ts
  packages/e2e-test/src/commands/run.ts
Due: core-api

splitted up component to separate files
  plugins/pagerduty/src/components/Escalation.tsx
  plugins/pagerduty/src/components/Incidents.tsx
  plugins/pagerduty/src/components/PagerDutyServiceCard.tsx
  plugins/pagerduty/src/components/types.tsx
Due: none

catalog-backend: relations db review comments and more tests
  plugins/catalog-backend/migrations/20201019130742_add_relations_table.js
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.test.ts
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/database/CommonDatabase.test.ts
  plugins/catalog-backend/src/database/CommonDatabase.ts
  plugins/catalog-backend/src/ingestion/HigherOrderOperations.test.ts
  plugins/catalog-backend/src/service/router.test.ts
Due: none

fix(cli): removePlugin forgotten await
  packages/cli/src/commands/remove-plugin/removePlugin.ts
Due: none

fix(github-actions): fix crash when viewing ongoing workflows
  plugins/github-actions/src/api/types.ts
  plugins/github-actions/src/components/WorkflowRunDetails/WorkflowRunDetails.tsx
Due: none

feat: update github pull requests package version
  packages/app/package.json
  yarn.lock
Due: none

remove unused CSS (#2999)
  microsite/static/css/custom.css
Due: none

chore(scaffolder): bump rjsf
  plugins/scaffolder/package.json
  yarn.lock
Due: none

fix(cost-insights): More exports to help custom alerting
  plugins/cost-insights/src/components/BarChart/BarChart.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewTooltip.tsx
  plugins/cost-insights/src/components/Tooltip/index.ts
  plugins/cost-insights/src/components/index.ts
  plugins/cost-insights/src/index.ts
Due: none

chore: maybe fixed the last of the broken tests 🤞
  packages/core-api/package.json
  packages/core-api/src/lib/AuthConnector/DefaultAuthConnector.test.ts
Due: core-api

feat: Display the plugins InfoCards on EntityPage Overwiev suitable full height (#2826)
  .changeset/2826.md
  packages/app/src/components/catalog/EntityPage.tsx
  packages/core/src/layout/InfoCard/InfoCard.tsx
  packages/create-app/templates/default-app/packages/app/src/components/catalog/EntityPage.tsx
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
  plugins/github-actions/src/components/Cards/Cards.tsx
  plugins/github-actions/src/components/Cards/RecentWorkflowRunsCard.tsx
  plugins/jenkins/src/components/Cards/Cards.tsx
  plugins/lighthouse/src/components/Cards/LastLighthouseAuditCard.tsx
Due: core

simpler query params
  plugins/cost-insights/package.json
  plugins/cost-insights/src/hooks/index.ts
  plugins/cost-insights/src/hooks/useFilters.tsx
  plugins/cost-insights/src/hooks/useGroups.tsx
  plugins/cost-insights/src/hooks/useQueryParams.tsx
  plugins/cost-insights/src/types/Filters.ts
  plugins/cost-insights/src/utils/history.test.ts
  plugins/cost-insights/src/utils/history.ts
  plugins/cost-insights/src/utils/tests.tsx
Due: none

changeset
  .changeset/selfish-mugs-itch.md
Due: none

remove unused import
  plugins/cost-insights/src/hooks/useFilters.tsx
Due: none

move type dependecy
  plugins/cost-insights/package.json
Due: none

Update yarn.lock file
  packages/catalog-model/src/location/types.ts
  yarn.lock
Due: none

Add changeset
  .changeset/popular-jars-serve.md
Due: none

rename stories folder to Chip (#3009)
  .changeset/hungry-parrots-work.md
  packages/core/src/components/Chip/Chip.stories.tsx
Due: core

fix: update the ItemCard component and it's story (#3007)
  .changeset/polite-moose-cough.md
  packages/core/src/layout/ItemCard/ItemCard.stories.tsx
  packages/core/src/layout/ItemCard/ItemCard.test.tsx
  packages/core/src/layout/ItemCard/ItemCard.tsx
Due: core

fix: responsive of page example in storybook (#3005)
  .changeset/tough-weeks-pull.md
  packages/core/src/layout/Page/Page.stories.tsx
Due: core

Add catalog import plugin to router
  packages/app/package.json
  packages/app/src/App.tsx
  packages/app/src/plugins.ts
Due: none

add TriggerButton and TriggerDialog, refactor them
  plugins/pagerduty/src/components/PagerDutyServiceCard.tsx
  plugins/pagerduty/src/components/TriggerButton.tsx
  plugins/pagerduty/src/components/TriggerDialog.tsx
Due: none

chore(fetchReader): actually return the response of the reader
  packages/backend-common/src/reading/FetchUrlReader.ts
Due: none

chore: fixing dependencies list
  plugins/circleci/package.json
  plugins/cloudbuild/package.json
  plugins/cost-insights/package.json
  plugins/gcp-projects/package.json
  plugins/github-actions/package.json
  plugins/gitops-profiles/package.json
  plugins/jenkins/package.json
  plugins/newrelic/package.json
  plugins/register-component/package.json
  plugins/tech-radar/package.json
  plugins/techdocs/package.json
  plugins/user-settings/package.json
  plugins/welcome/package.json
Due: none

chore(user-settings): removing last occurrence of node-fetch
  plugins/user-settings/package.json
Due: none

fix(cli): one more await in the test
  packages/cli/src/commands/remove-plugin/removePlugin.test.ts
Due: none

fix: accordion details design for job stage failure (#3014)
  .changeset/flat-yaks-march.md
  plugins/scaffolder/src/components/JobStage/JobStage.tsx
Due: none

TechDocs Backend: Replace hardcoded github api by configuration value (#3004)
  .changeset/pink-spies-rule.md
  plugins/techdocs-backend/src/default-branch.ts
Due: none

fix: forwardRef to SidebarItem
  .changeset/eighty-stingrays-type.md
  packages/core/src/layout/Sidebar/Items.tsx
Due: core

fix: ts
  packages/core/src/layout/Sidebar/Items.tsx
Due: core

useRealTimers in onCssReady test case
  plugins/techdocs/src/reader/transformers/onCssReady.test.ts
Due: none

test(cli): use mock-fs in tasks
  packages/cli/src/lib/tasks.test.ts
Due: none

test(cli): use mock-fs in createPlugin
  packages/cli/src/commands/create-plugin/createPlugin.test.ts
Due: none

test(cli): refactor mock-fs
  packages/cli/src/commands/create-plugin/createPlugin.test.ts
  packages/cli/src/commands/remove-plugin/removePlugin.test.ts
Due: none

test(cli): refactor mock-fs
  packages/cli/src/commands/remove-plugin/removePlugin.test.ts
Due: none

fix(cli): format
  packages/cli/src/lib/tasks.test.ts
Due: none

test(cli): use mock-fs in removePlugin
  packages/cli/src/commands/remove-plugin/removePlugin.test.ts
Due: none

Path conditions:
  core: any of: packages/core/
  core-api: any of: packages/core-api/
