Repository snippergoals/backstage: changes, and which Codecov flags are due for each by the changed paths.
All: core, core-api

.codecov.yml:

comment: false # Ref: https://docs.codecov.io/docs/pull-request-comments

coverage:
  status:
    project:
      default:
        threshold: 0% # Ref: https://docs.codecov.io/docs/codecovyml-reference#coveragestatus
        target: auto

# Since Backstage is a mono repo, flags here help in getting the code coverage of individual packages.
# Documentation: https://docs.codecov.io/docs/flags
flags:
  core:
    paths:
      - packages/core/
  core-api:
    paths:
      - packages/core-api/

core-api: move utility api system implementation into apis/system
  packages/core-api/src/apis/definitions/AlertApi.ts
  packages/core-api/src/apis/definitions/AppThemeApi.ts
  packages/core-api/src/apis/definitions/ConfigApi.ts
  packages/core-api/src/apis/definitions/DiscoveryApi.ts
  packages/core-api/src/apis/definitions/ErrorApi.ts
  packages/core-api/src/apis/definitions/FeatureFlagsApi.ts
  packages/core-api/src/apis/definitions/IdentityApi.ts
  packages/core-api/src/apis/definitions/OAuthRequestApi.ts
  packages/core-api/src/apis/definitions/StorageApi.ts
  packages/core-api/src/apis/definitions/auth.ts
  packages/core-api/src/apis/system/ApiAggregator.test.ts
  packages/core-api/src/apis/system/ApiAggregator.ts
  packages/core-api/src/apis/system/ApiFactoryRegistry.test.ts
  packages/core-api/src/apis/system/ApiFactoryRegistry.ts
  packages/core-api/src/apis/system/ApiProvider.test.tsx
  packages/core-api/src/apis/system/ApiProvider.tsx
  packages/core-api/src/apis/system/ApiRef.test.ts
  packages/core-api/src/apis/system/ApiRef.ts
  packages/core-api/src/apis/system/ApiRegistry.test.ts
  packages/core-api/src/apis/system/ApiRegistry.ts
  packages/core-api/src/apis/system/ApiResolver.test.ts
  packages/core-api/src/apis/system/ApiResolver.ts
  packages/core-api/src/apis/system/helpers.ts
  packages/core-api/src/apis/system/index.ts
  packages/core-api/src/apis/system/types.ts
  packages/core-api/src/app/App.tsx
  packages/core-api/src/plugin/types.ts
Due: core-api

core-api: work around issue with ApiRef export const declarations
  packages/core-api/src/apis/definitions/AlertApi.ts
  packages/core-api/src/apis/definitions/AppThemeApi.ts
  packages/core-api/src/apis/definitions/ConfigApi.ts
  packages/core-api/src/apis/definitions/DiscoveryApi.ts
  packages/core-api/src/apis/definitions/ErrorApi.ts
  packages/core-api/src/apis/definitions/FeatureFlagsApi.ts
  packages/core-api/src/apis/definitions/IdentityApi.ts
  packages/core-api/src/apis/definitions/OAuthRequestApi.ts
  packages/core-api/src/apis/definitions/StorageApi.ts
  packages/core-api/src/apis/definitions/auth.ts
Due: core-api

handle the case where no entities are available to show
  plugins/catalog/src/components/UnregisterEntityDialog/UnregisterEntityDialog.tsx
Due: none

add changeset
  .changeset/eighty-lamps-smell.md
Due: none

change jsx to tsx
  packages/core/src/components/Button/Button.test.tsx
Due: core

change test file to tsx
  packages/core/src/components/Link/Link.test.tsx
Due: core

change test file to tsx
  packages/core/src/components/Lifecycle/Lifecycle.test.tsx
Due: core

change test file to tsx
  packages/core/src/components/ProgressBars/GaugeCard.test.tsx
Due: core

change test file to tsx
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.test.tsx
Due: core

change test file to tsx
  packages/core/src/components/ProgressBars/Gauge.test.jsx
Due: core

change test file to tsx
  packages/core/src/components/HorizontalScrollGrid/HorizontalScrollGrid.test.tsx
Due: core

fix the styling of footer copy on mobile
  microsite/static/css/custom.css
Due: none

address comments
  packages/core/src/components/HorizontalScrollGrid/HorizontalScrollGrid.test.tsx
  packages/core/src/components/ProgressBars/Gauge.test.tsx
  packages/core/src/components/ProgressBars/GaugeCard.test.tsx
  packages/core/src/components/StructuredMetadataTable/StructuredMetadataTable.test.tsx
Due: core

two more converted to tsx
  packages/core/src/components/Status/Status.test.tsx
  packages/core/src/layout/ErrorPage/MicDrop.tsx
Due: core

Add test case for Progress component (#2953)
  .changeset/flat-bugs-do.md
  packages/core/src/components/Progress/Progress.test.tsx
  plugins/graphiql/src/components/GraphiQLPage/GraphiQLPage.test.tsx
  plugins/tech-radar/src/components/RadarComponent.test.tsx
  plugins/tech-radar/src/components/RadarPage.test.tsx
  plugins/techdocs/src/reader/components/TechDocsProgressBar.test.tsx
Due: core

Update PinButton.tsx
  plugins/user-settings/src/components/General/PinButton.tsx
Due: none

use getBy query instead of queryBy when asserting for elements present in document (#2951)
  .changeset/lovely-suits-flash.md
  packages/core/src/components/CodeSnippet/CodeSnippet.test.tsx
Due: core

align 'Add to Marketplace' button on plugins page
  microsite/static/css/plugins.css
Due: none

fix the PluginGrid on mobiles sizes
  microsite/pages/en/plugins.js
  microsite/static/css/plugins.css
Due: none

fix the plugin card on plugins page
  microsite/pages/en/plugins.js
  microsite/static/css/plugins.css
Due: none

create pagerduty plugin
  packages/app/package.json
  packages/app/src/plugins.ts
  plugins/pagerduty/.eslintrc.js
  plugins/pagerduty/README.md
  plugins/pagerduty/dev/index.tsx
  plugins/pagerduty/package.json
  plugins/pagerduty/src/index.ts
  plugins/pagerduty/src/plugin.test.ts
  plugins/pagerduty/src/plugin.ts
  plugins/pagerduty/src/setupTests.ts
Due: none

catalog-backend: initial implementation of relations storage
  packages/catalog-model/src/entity/Entity.ts
  packages/catalog-model/src/entity/index.ts
  plugins/catalog-backend/migrations/20201019130742_add_relations_table.js
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/CommonDatabase.test.ts
  plugins/catalog-backend/src/database/CommonDatabase.ts
  plugins/catalog-backend/src/database/types.ts
Due: none

Ignore IntelliJ *.iml files (#2971)
  .gitignore
Due: none

feat: update github insights plugin version (#2973)
  packages/app/package.json
  yarn.lock
Due: none

Update PinButton.test.tsx
  plugins/user-settings/src/components/General/PinButton.test.tsx
Due: none

Cleanup
  plugins/user-settings/src/components/General/PinButton.test.tsx
  plugins/user-settings/src/components/General/PinButton.tsx
Due: none

Organize catalog examples into sub-directories, cleanup (#2963)
  packages/catalog-model/examples/all-apis.yaml
  packages/catalog-model/examples/all-components.yaml
  packages/catalog-model/examples/apis/hello-world-api.yaml
  packages/catalog-model/examples/apis/petstore-api.yaml
  packages/catalog-model/examples/apis/spotify-api.yaml
  packages/catalog-model/examples/apis/streetlights-api.yaml
  packages/catalog-model/examples/apis/swapi-graphql.yaml
  packages/catalog-model/examples/components/artist-lookup-component.yaml
  packages/catalog-model/examples/components/petstore-component.yaml
  packages/catalog-model/examples/components/playback-lib-component.yaml
  packages/catalog-model/examples/components/playback-order-component.yaml
  packages/catalog-model/examples/components/podcast-api-component.yaml
  packages/catalog-model/examples/components/queue-proxy-component.yaml
  packages/catalog-model/examples/components/searcher-component.yaml
  packages/catalog-model/examples/components/shuffle-api-component.yaml
  packages/catalog-model/examples/components/www-artist-component.yaml
Due: none

chore(catalog-model): remove ReservedFieldsEntityPolicy
  packages/catalog-model/src/entity/policies/ReservedFieldsEntityPolicy.test.ts
  packages/catalog-model/src/entity/policies/ReservedFieldsEntityPolicy.ts
  packages/catalog-model/src/entity/policies/index.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Due: none

chore: remove superfluous file
  plugins/linkerd-backend/src/service/helpers.ts
Due: none

backend-common: make loadBackendConfig return config directly and log all resolved app-configs
  .changeset/weak-ducks-tan.md
  packages/backend-common/src/config.ts
  packages/backend-common/src/service/lib/ServiceBuilderImpl.ts
  packages/backend/src/index.ts
  packages/cli/src/commands/app/build.ts
  packages/cli/src/commands/app/serve.ts
  packages/cli/src/commands/backend/dev.ts
  packages/cli/src/commands/config/print.ts
  packages/cli/src/commands/plugin/export.ts
  packages/cli/src/commands/plugin/serve.ts
  packages/create-app/templates/default-app/packages/backend/src/index.ts
  plugins/auth-backend/src/service/standaloneServer.ts
  plugins/catalog-backend/src/service/standaloneServer.ts
  plugins/proxy-backend/src/service/router.test.ts
  plugins/proxy-backend/src/service/standaloneServer.ts
  plugins/rollbar-backend/src/service/standaloneServer.ts
  plugins/techdocs-backend/src/default-branch.ts
Due: none

chore: fixing remaining tests and merge conflicts
  packages/test-utils/package.json
  packages/test-utils/src/testUtils/msw/index.ts
  plugins/lighthouse/src/components/AuditList/index.test.tsx
  plugins/lighthouse/src/components/AuditView/index.test.tsx
  plugins/lighthouse/src/components/CreateAudit/index.test.tsx
  plugins/lighthouse/src/setupTests.ts
  yarn.lock
Due: none

fix(catalog): fix link to techdocs
  plugins/catalog/src/components/AboutCard/AboutCard.tsx
Due: none

chore: fixing linting
  plugins/lighthouse/src/components/AuditView/index.test.tsx
Due: none

add main functionality
  plugins/pagerduty/src/components/PagerDutyServiceCard.tsx
  plugins/pagerduty/src/components/pd.svg
  plugins/pagerduty/src/index.ts
Due: none

add Pagerduty card to entity overview
  packages/app/src/components/catalog/EntityPage.tsx
Due: none

fix the warning by wrapping in act
  packages/core/src/components/HorizontalScrollGrid/HorizontalScrollGrid.test.tsx
  packages/core/src/components/Lifecycle/Lifecycle.test.tsx
  packages/core/src/components/ProgressBars/Gauge.test.tsx
  packages/core/src/components/ProgressBars/GaugeCard.test.tsx
  packages/core/src/components/SimpleStepper/SimpleStepper.test.tsx
  packages/core/src/components/Table/Table.test.tsx
  packages/core/src/components/Tabs/Tab.test.tsx
  packages/core/src/components/TrendLine/TrendLine.test.tsx
  packages/core/src/components/WarningPanel/WarningPanel.test.tsx
  packages/core/src/layout/BottomLink/BottomLink.test.tsx
  packages/core/src/layout/ContentHeader/ContentHeader.test.tsx
  packages/core/src/layout/ErrorPage/ErrorPage.test.tsx
  packages/core/src/layout/Header/Header.test.tsx
  packages/core/src/layout/HeaderActionMenu/HeaderActionMenu.test.tsx
  packages/core/src/layout/HeaderLabel/HeaderLabel.test.tsx
  packages/core/src/layout/HeaderTabs/HeaderTabs.test.tsx
  packages/core/src/layout/InfoCard/InfoCard.test.tsx
  packages/core/src/layout/TabbedCard/TabbedCard.test.tsx
Due: core

fix CopyTextButton test case warnings
  packages/core/src/components/CopyTextButton/CopyTextButton.test.tsx
Due: core

fix CodeSnippet test case warnings
  packages/core/src/components/CodeSnippet/CodeSnippet.test.tsx
Due: core

add changeset
  .changeset/funny-readers-breathe.md
Due: none

chore: fixing typescript issues with using the new fetch
  plugins/sentry/package.json
  plugins/sentry/src/components/SentryPluginPage/SentryPluginPage.test.tsx
  plugins/techdocs-backend/src/service/router.ts
Due: none
