Repository snippergoals/backstage: changes, and which Codecov flags are due for each by the changed paths.
All: core, core-api

.codecov.yml:

comment: false # Ref: https://docs.codecov.io/docs/pull-request-comments

coverage:
  status:
    project:
      default:
        threshold: 0% # Ref: https://docs.codecov.io/docs/codecovyml-reference#coveragestatus
        target: auto

# Since Backstage is a mono repo, flags here help in getting the code coverage of individual packages.
# Documentation: https://docs.codecov.io/docs/flags
flags:
  core:
    paths:
      - packages/core/
  core-api:
    paths:
      - packages/core-api/

feat(catalog-backend): permit entity field subselection (#3142)
  .changeset/alchemists-on-ice.md
  plugins/catalog-backend/src/service/filterQuery.test.ts
  plugins/catalog-backend/src/service/filterQuery.ts
  plugins/catalog-backend/src/service/router.test.ts
  plugins/catalog-backend/src/service/router.ts
Due: none

migrate loading utils
  plugins/cost-insights/src/components/CostInsightsPage/selector.tsx
  plugins/cost-insights/src/components/CostInsightsTabs/selector.ts
  plugins/cost-insights/src/hooks/useGroups.tsx
  plugins/cost-insights/src/hooks/useLastCompleteBillingDate.tsx
  plugins/cost-insights/src/hooks/useLoading.tsx
  plugins/cost-insights/src/utils/mockData.ts
Due: none

migrate assertion utils
  plugins/cost-insights/src/components/BarChart/BarChart.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.test.tsx
  plugins/cost-insights/src/components/CostInsightsNavigation/CostInsightsNavigation.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewCard.tsx
  plugins/cost-insights/src/components/CurrencySelect/CurrencySelect.tsx
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/selector.ts
  plugins/cost-insights/src/components/ProjectGrowthAlertCard/ProjectGrowthAlertCard.test.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChartLegend/ResourceGrowthBarChartLegend.test.tsx
  plugins/cost-insights/src/hooks/useCurrency.tsx
  plugins/cost-insights/src/types/Duration.ts
  plugins/cost-insights/src/types/Maybe.ts
  plugins/cost-insights/src/utils/assert.ts
  plugins/cost-insights/src/utils/currency.ts
  plugins/cost-insights/src/utils/mockData.ts
Due: none

fix(catalog-backend): let processors validate kinds (#3113)
  .changeset/3113.md
  packages/catalog-model/src/kinds/ApiEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/ApiEntityV1alpha1.ts
  packages/catalog-model/src/kinds/ComponentEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/ComponentEntityV1alpha1.ts
  packages/catalog-model/src/kinds/GroupEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/GroupEntityV1alpha1.ts
  packages/catalog-model/src/kinds/LocationEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/LocationEntityV1alpha1.ts
  packages/catalog-model/src/kinds/TemplateEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/TemplateEntityV1alpha1.ts
  packages/catalog-model/src/kinds/UserEntityV1alpha1.test.ts
  packages/catalog-model/src/kinds/UserEntityV1alpha1.ts
  packages/catalog-model/src/kinds/index.ts
  packages/catalog-model/src/kinds/types.ts
  packages/catalog-model/src/kinds/util.ts
  plugins/catalog-backend/src/ingestion/LocationReaders.ts
  plugins/catalog-backend/src/ingestion/processors/BuiltinKindsEntityProcessor.ts
  plugins/catalog-backend/src/ingestion/processors/types.ts
  plugins/catalog-backend/src/service/CatalogBuilder.test.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
Due: none

migrate change utils
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewCard.tsx
  plugins/cost-insights/src/types/ChangeStatistic.ts
  plugins/cost-insights/src/utils/change.ts
Due: none

catalob-backend: make CodeOwnersProcessor handle url locations
  .changeset/old-jeans-dance.md
  plugins/catalog-backend/src/ingestion/processors/CodeOwnersProcessor.test.ts
  plugins/catalog-backend/src/ingestion/processors/CodeOwnersProcessor.ts
Due: none

migration duration utils
  plugins/cost-insights/src/api/CostInsightsApi.ts
  plugins/cost-insights/src/api/ExampleCostInsightsClient.ts
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.test.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.tsx
  plugins/cost-insights/src/components/CostOverviewCard/CostOverviewTooltip.tsx
  plugins/cost-insights/src/components/CostOverviewCard/selector.tsx
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.test.tsx
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.test.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/selector.ts
  plugins/cost-insights/src/components/ProjectGrowthAlertCard/ProjectGrowthAlertCard.tsx
  plugins/cost-insights/src/components/ProjectGrowthInstructionsPage/ProjectGrowthInstructionsPage.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChartLegend/ResourceGrowthBarChartLegend.test.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChartLegend/ResourceGrowthBarChartLegend.tsx
  plugins/cost-insights/src/index.ts
  plugins/cost-insights/src/types/Filters.ts
  plugins/cost-insights/src/types/index.ts
  plugins/cost-insights/src/utils/currency.ts
  plugins/cost-insights/src/utils/duration.test.ts
  plugins/cost-insights/src/utils/duration.ts
  plugins/cost-insights/src/utils/formatters.test.ts
  plugins/cost-insights/src/utils/formatters.ts
  plugins/cost-insights/src/utils/history.ts
  plugins/cost-insights/src/utils/mockData.ts
  plugins/cost-insights/src/utils/tests.tsx
Due: none

migrate filters and icon utils
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.test.tsx
  plugins/cost-insights/src/types/Icon.ts
  plugins/cost-insights/src/utils/filters.ts
  plugins/cost-insights/src/utils/history.ts
  plugins/cost-insights/src/utils/icon.ts
  plugins/cost-insights/src/utils/navigation.tsx
Due: none

core-api: remove FeatureFlagName type
  docs/reference/createPlugin-feature-flags.md
  packages/core-api/src/apis/definitions/FeatureFlagsApi.ts
  packages/core-api/src/app/FeatureFlags.tsx
  packages/core-api/src/plugin/types.ts
  plugins/user-settings/src/components/FeatureFlags/FeatureFlags.tsx
Due: core-api

use correct import for intervalsOf
  plugins/cost-insights/src/components/CostInsightsPage/CostInsightsPage.tsx
Due: none

formatting
  plugins/cost-insights/src/api/ExampleCostInsightsClient.ts
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.test.tsx
  plugins/cost-insights/src/components/CostInsightsNavigation/CostInsightsNavigation.tsx
  plugins/cost-insights/src/components/CostInsightsPage/CostInsightsPage.tsx
  plugins/cost-insights/src/components/ProjectGrowthAlertCard/ProjectGrowthAlertCard.tsx
  plugins/cost-insights/src/hooks/useLoading.tsx
Due: none

core-api: refactor FeatureFlagApi to register flags instead of assigning
  packages/core-api/src/apis/definitions/FeatureFlagsApi.ts
  packages/core-api/src/app/App.tsx
  packages/core-api/src/app/FeatureFlags.test.tsx
  packages/core-api/src/app/FeatureFlags.tsx
  packages/core/src/api-wrappers/defaultApis.ts
  plugins/user-settings/src/components/FeatureFlags/FeatureFlags.tsx
  plugins/user-settings/src/components/FeatureFlags/FeatureFlagsItem.tsx
Due: core, core-api

core-api: remove FeatureFlagsRegistry class
  packages/core-api/src/apis/definitions/FeatureFlagsApi.ts
  packages/core-api/src/app/FeatureFlags.test.tsx
  packages/core-api/src/app/FeatureFlags.tsx
Due: core-api

add explicit export for public utils
  plugins/cost-insights/src/utils/public/index.ts
Due: none

changeset
  .changeset/cost-insights-kind-trees-occur.md
Due: none

chore: remove the usage of SFC
  packages/core/src/layout/ErrorBoundary/ErrorBoundary.tsx
Due: core

core-api: refactor feature flags user flags access
  packages/core-api/src/apis/definitions/FeatureFlagsApi.ts
  packages/core-api/src/app/App.tsx
  packages/core-api/src/app/FeatureFlags.test.tsx
  packages/core-api/src/app/FeatureFlags.tsx
  packages/core-api/src/app/index.ts
  packages/core-api/src/plugin/Plugin.tsx
  plugins/cost-insights/src/components/CostInsightsPage/CostInsightsPage.tsx
  plugins/user-settings/src/components/FeatureFlags/FeatureFlags.tsx
Due: core-api

docs: update feature flag docs
  docs/reference/createPlugin-feature-flags.md
Due: none

core-api: move LocalStorageFeatureFlags to api implementations
  packages/core-api/src/apis/implementations/FeatureFlagsApi/LocalStorageFeatureFlags.test.tsx
  packages/core-api/src/apis/implementations/FeatureFlagsApi/LocalStorageFeatureFlags.tsx
  packages/core-api/src/apis/implementations/FeatureFlagsApi/index.ts
  packages/core-api/src/app/App.tsx
Due: core-api

changesets: added changeset for FeatureFlagsApi refactoring
  .changeset/swift-emus-mate.md
Due: none

docgen: add support for picking up the type from the declaration instead of initialization
  packages/docgen/src/docgen/TypeLocator.ts
Due: none

Renames and new types
  packages/backend/src/plugins/catalog.ts
  packages/catalog-model/src/location/index.ts
  packages/catalog-model/src/location/validation.ts
  plugins/catalog-backend/src/ingestion/LocationAnalyzer.ts
  plugins/catalog-backend/src/ingestion/types.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/router.ts
  yarn.lock
Due: none

Fix typo in template comment (#3152)
  packages/create-app/templates/default-app/app-config.yaml.hbs
Due: none

Create import-component frontend plugin
  plugins/import-component/.eslintrc.js
  plugins/import-component/README.md
  plugins/import-component/dev/index.tsx
  plugins/import-component/package.json
  plugins/import-component/src/api/CatalogImportApi.ts
  plugins/import-component/src/api/CatalogImportClient.ts
  plugins/import-component/src/api/index.ts
  plugins/import-component/src/api/types.ts
  plugins/import-component/src/components/ImportComponentForm/ImportComponentForm.tsx
  plugins/import-component/src/components/ImportComponentForm/index.ts
  plugins/import-component/src/components/ImportComponentPage/ComponentConfigDisplay.tsx
  plugins/import-component/src/components/ImportComponentPage/ImportComponentPage.tsx
  plugins/import-component/src/components/ImportComponentPage/ImportFinished.tsx
  plugins/import-component/src/components/ImportComponentPage/ImportStepper.tsx
  plugins/import-component/src/components/ImportComponentPage/index.ts
  plugins/import-component/src/components/ImportComponentPage/useGithubRepos.ts
  plugins/import-component/src/components/Router.tsx
  plugins/import-component/src/index.ts
  plugins/import-component/src/plugin.test.ts
  plugins/import-component/src/plugin.ts
  plugins/import-component/src/setupTests.ts
  plugins/import-component/src/util/types.ts
  plugins/import-component/src/util/validate.test.ts
  plugins/import-component/src/util/validate.ts
  plugins/import-component/tsconfig.json
Due: none

chore: move entityClient to createPlugin, mock entityClient in tests
  packages/backend/src/plugins/scaffolder.ts
  plugins/scaffolder-backend/src/index.ts
  plugins/scaffolder-backend/src/service/router.test.ts
  plugins/scaffolder-backend/src/service/router.ts
Due: none

Add import component button to the create page
  packages/app/package.json
  packages/app/src/App.tsx
  packages/app/src/plugins.ts
  plugins/catalog-backend/src/ingestion/LocationAnalyzer.ts
  plugins/catalog-backend/src/ingestion/types.ts
  plugins/import-component/src/components/Router.tsx
  plugins/scaffolder/src/components/ScaffolderPage/ScaffolderPage.tsx
  yarn.lock
Due: none

fix: use entityClient in create-app package
  packages/create-app/templates/default-app/packages/backend/src/plugins/scaffolder.ts
Due: none

chore: remove try/catch
  plugins/scaffolder-backend/src/service/router.ts
Due: none

docs: tweak feature-flags docs
  docs/reference/createPlugin-feature-flags.md
Due: none

fix: Update tags validation message & documentation (#3145)
  .changeset/ninety-ads-dance.md
  docs/features/software-catalog/descriptor-format.md
  packages/catalog-model/src/entity/policies/FieldFormatEntityPolicy.ts
Due: none

chore: add test case for ErrorBoundary component
  packages/core/src/layout/ErrorBoundary/ErrorBoundary.test.tsx
  packages/core/src/layout/ErrorBoundary/ErrorBoundary.tsx
Due: core

working onelogin auth implementation
  app-config.yaml
  packages/app/src/identityProviders.ts
  packages/core-api/src/apis/definitions/auth.ts
  packages/core-api/src/apis/implementations/auth/onelogin/OktaAuth.test.ts
  packages/core-api/src/apis/implementations/auth/onelogin/OneLoginAuth.ts
  packages/core-api/src/apis/implementations/auth/onelogin/index.ts
  packages/core/src/api-wrappers/defaultApis.ts
  plugins/auth-backend/src/lib/passport/PassportStrategyHelper.ts
  plugins/auth-backend/src/providers/factories.ts
  plugins/auth-backend/src/providers/onelogin/index.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
  plugins/auth-backend/src/providers/onelogin/types.d.ts
Due: core, core-api

add changeset for onelogin
  .changeset/beige-pandas-thank.md
  plugins/auth-backend/src/providers/onelogin/index.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
  plugins/auth-backend/src/providers/onelogin/types.d.ts
Due: none

remove commented code
  plugins/auth-backend/src/providers/onelogin/provider.ts
Due: none

run prettier
  plugins/auth-backend/src/providers/onelogin/index.ts
  plugins/auth-backend/src/providers/onelogin/provider.ts
Due: none

add passport-onelogin dependency
  packages/core-api/src/apis/implementations/auth/onelogin/OktaAuth.test.ts
  plugins/auth-backend/package.json
  yarn.lock
Due: core-api

fix imports
  packages/core-api/src/apis/implementations/auth/onelogin/OneLoginAuth.ts
Due: core-api

preserve enums in types
  plugins/cost-insights/src/api/CostInsightsApi.ts
  plugins/cost-insights/src/api/ExampleCostInsightsClient.ts
  plugins/cost-insights/src/components/AlertActionCardList/AlertActionCard.test.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.test.tsx
  plugins/cost-insights/src/components/CostGrowth/CostGrowth.tsx
  plugins/cost-insights/src/components/CostOverviewCard/selector.tsx
  plugins/cost-insights/src/components/CurrencySelect/CurrencySelect.tsx
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.test.tsx
  plugins/cost-insights/src/components/PeriodSelect/PeriodSelect.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.test.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/ProductInsightsCard.tsx
  plugins/cost-insights/src/components/ProductInsightsCard/selector.ts
  plugins/cost-insights/src/components/ProjectGrowthAlertCard/ProjectGrowthAlertCard.tsx
  plugins/cost-insights/src/components/ProjectGrowthInstructionsPage/ProjectGrowthInstructionsPage.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChartLegend/ResourceGrowthBarChartLegend.test.tsx
  plugins/cost-insights/src/components/ResourceGrowthBarChartLegend/ResourceGrowthBarChartLegend.tsx
  plugins/cost-insights/src/index.ts
  plugins/cost-insights/src/types/Alert.ts
  plugins/cost-insights/src/types/Currency.ts
  plugins/cost-insights/src/types/Duration.ts
  plugins/cost-insights/src/types/Filters.ts
  plugins/cost-insights/src/types/Icon.ts
  plugins/cost-insights/src/types/index.ts
  plugins/cost-insights/src/utils/alerts.tsx
  plugins/cost-insights/src/utils/currency.ts
  plugins/cost-insights/src/utils/duration.test.ts
  plugins/cost-insights/src/utils/duration.ts
  plugins/cost-insights/src/utils/filters.ts
  plugins/cost-insights/src/utils/formatters.test.ts
  plugins/cost-insights/src/utils/formatters.ts
  plugins/cost-insights/src/utils/history.ts
  plugins/cost-insights/src/utils/loading.ts
  plugins/cost-insights/src/utils/mockData.ts
  plugins/cost-insights/src/utils/navigation.tsx
  plugins/cost-insights/src/utils/public/index.ts
  plugins/cost-insights/src/utils/tests.tsx
Due: none

fix alert link
  plugins/cost-insights/README.md
Due: none

feat: add ability to dry run adding a new location
  .changeset/angry-crabs-relate.md
  docs/features/software-catalog/installation.md
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.test.ts
  plugins/catalog-backend/src/catalog/DatabaseEntitiesCatalog.ts
  plugins/catalog-backend/src/catalog/DatabaseLocationsCatalog.ts
  plugins/catalog-backend/src/catalog/types.ts
  plugins/catalog-backend/src/database/CommonDatabase.test.ts
  plugins/catalog-backend/src/database/CommonDatabase.ts
  plugins/catalog-backend/src/database/index.ts
  plugins/catalog-backend/src/database/types.ts
  plugins/catalog-backend/src/ingestion/HigherOrderOperations.test.ts
  plugins/catalog-backend/src/ingestion/HigherOrderOperations.ts
  plugins/catalog-backend/src/ingestion/types.ts
  plugins/catalog-backend/src/service/CatalogBuilder.ts
  plugins/catalog-backend/src/service/router.test.ts
  plugins/catalog-backend/src/service/router.ts
Due: none
